.SearchResults {
    width: 45%;
    height: 400px;
    overflow-y: scroll;
    padding: .88rem;
    background-color: rgba(1, 12, 63, 0.7);
    border-radius: 18px;
    box-shadow: 0 4px 2px 2px #000000;
    opacity: .88
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #1db954; /* Spotify green */
  }
  
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 90%;
        margin-bottom: 2rem;
    }
}